*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
}

/* navbar */
nav.navbar img {
  height: 70px;
}

nav.navbar ul {
  text-align: left;
}

nav.navbar .navbar-toggler {
  border: none;
}

nav.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,150,243, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* our project */

.our-project {
  padding-top: 30px;
}

.our-project-title {
  color: #3d3431;
  position: relative;
}

.our-project-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 45px;
  background-color: #3aade6;
  right: -25px;
}

/* details */

.details {
  padding-top: 50px;
}

.details-title {
  color: #3d3431;
  position: relative;
}

.details-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 45px;
  background-color: #3aade6;
  right: -25px;
}

.details-desc {
  background-image: url(../assets/imgs/details-bg.png);
}

.details-desc p {
  color: #fff;
  padding: 45px 10px;
  line-height: 1.7;
  font-size: 19px;
}

/* project images  */

.project-imgs {
  padding-top: 50px;
}

.project-imgs-title {
  color: #3d3431;
  position: relative;
}

.project-imgs-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 45px;
  background-color: #3aade6;
  right: -25px;
}

/* arrows */

.arrows {
  text-align: center;
}

.arrows .right-arrow,
.arrows .left-arrow {
  color: #fff;
  background-color: #0d0b0b;
  display: inline-block;
  width: 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* carousel */
.my-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 8pc;
}

#next-project,
#prev-project {
  cursor: pointer;
}

.my-carousel .my-card {
  /*height: 20rem;*/
  width: 12rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;

  transition: 1s;
}

.my-carousel .my-card:after {
  content: '';

  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.my-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.my-carousel .my-card.prev,
.my-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}

/* footer */
footer.footer {
  background-image: url(../assets/imgs/footer.jpg);
  background-size: 100%;
  background-position: 100%;
}

footer.footer .footer-logo {
  width: 100%;
}

footer.footer p.text-white {
  margin: 20px auto;
  line-height: 1.7;
}

footer.footer ul li a {
  font-size: 25px;
  margin-right: 10px;
}